{% extends 'index.html'%} {% load static %} {% block content %}

<section>
    <div class="container">
        <div class="col-md-12">
            <div class="p-5">
                <div class="profile col-md-12 text-right medicine-short-detail ml-auto mr-auto">

                    <div class="aboutus">
                        <div class="header mt-3 ">
                            <h4 style="color: #00000096;">من نحن</h4>
                        </div>
                        <div class="description mb-3">
                            <h6>اول موقع إلكتروني يهدف لخدمة مجال الدواء في السودان من خلال تقديم خدمة البحث عن الدواء أونلاين للمرضى و سهولة البحث عن الدواء ومعرفة المعلومات الخاصة به مثل المادة الفعالة لإيجاد البديل بسهولة في حال عدم توفر الدواء المطلوب</h6>
                        </div>

                        <div>
                            <h3>خدماتنا</h3>
                        </div>
                        
                        <div class="header">
                            <h5 style="color: #00000096;">طلب الدواء عبر الوصفة الطبية</h5>
                        </div>
                        <div class="description">
                            <h6>يوفر موقع دوائي طلب الدواء عبر صورة من الوصفة الطبية(الرورشتة) في حال عدم إيجاد الدواء المطلوب في قائمة الأدوية المتوفرة .</h6>
                        </div>

                        <div class="header mt-4">
                            <h5 style="color: #00000096;">معرفة مكان توفر الدواء</h5>
                        </div>
                        <div class="description">
                            <h6>يمكنك معرفة أماكن توفر الدواء المطلوب و التواصل مع الصيدلية الأقرب لك .</h6>
                        </div>

                        <div class="header mt-4">
                            <h5 style="color: #00000096;">مقارنة الأسعار بين مختلف الصيدليات</h5>
                        </div>
                        <div class="description">
                            <h6>يمكنك معرفة سعر الدواء في مختلف الصيدليات و إختيار الصيدلية التي تريد شراء الدواء منها .</h6>
                        </div>

                        <div class="header mt-4">
                            <h5 style="color: #00000096;">التبرع بالأدوية</h5>
                        </div>
                        <div class="description">
                            <h6>في حال كان لديك أدوية غير مستخدمة يمكنك التبرع بها عن طريق الموقع  .</h6>
                        </div>

                        <div class="mt-5">
                            <h3 class="mb-2">الشركاء</h3>
                            <img src="{% static 'medicine/img/sudanphcc.jpg'%} " alt="" class="" style="height: 150px;">

                        </div>

                    </div>
                    

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

