{% extends 'index.html'%}
{% block content %}

<section>
    <div class="container" style="background-color: white;">
        <div class="p-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="p-3 Analytics">
                        <div class="Analyticshaeder">
                            <span>عدد الصيدليات</span>
                        </div>
                        <div class="Analyticsnumbers">
                            <span>50</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-3 Analytics">
                        <div class="Analyticshaeder">
                            <span>عدد الأدوية المضافة</span>
                        </div>
                        <div class="Analyticsnumbers">
                            <span>10</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-3 Analytics">
                        <div class="Analyticshaeder">
                            <span>كمية الادوية</span>
                        </div>
                        <div class="Analyticsnumbers">
                            <span>52</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}