{% extends 'index.html'%}
{% load static%}
{% load humanize %}
{% block content %}

<section>
    <div class="alert alert-warning" role="alert">
        يمكن ان تختلف الصورعن الدواء المعروض
    </div>
    <div class="container">
        
        <div class="p-3">
            <form class="form-inline d-flex justify-content-right md-form form-sm mt-0 mb-3"
                        action="{% url 'search' %}" method="GET">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-50 search-bar" type="text"
                               placeholder="أدخل إسم الدواء" aria-label="Search" name="search">
            </form>
            <div class="medicine-list">
                {% for storage in medicineList%}
                <div class="provider-medicine col-md-12">
                    <div class="m-2">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="image">
                                    <img src="{{storage.medicine.img.url}}" alt="لا تتوفر صورة للدواء" height="200"
                                        width="200">
                                </div>
                            </div>
                            <div class="col-md-9 text-right">
                                <h4>{{storage.medicine.generalName}}</h4>
                                <h5>{{storage.medicine.scientificName}}</h5>
                                <h6><span>{{storage.username.user_info.pharmacyName}}</span></h6>
                                <h6><span>التركيز </span> : {{storage.dose}}</h6>
                                <h6><span>أخر تحديث :</span> <span style="color:#0d0"> {{storage.updateDate | naturalday}}</span></h6>
                                <h6><span>السعر : </span>{{storage.price}} <span> جنيه </span></h6>
                                <h6><span>الموقع :</span><span>{{storage.username.user_info.city}}, {{storage.username.user_info.location}}</span></h6>
                                <a href="{% url 'productinfo' storage.id%}"><span class="btn btn-info" style="float:left;">تواصل مع الصيدلية</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}