{% extends 'index.html'%} {% load static%} {% load humanize %} {% block content %}

<section>
    <div class="alert alert-warning" role="alert">
        يمكن ان تختلف الصورعن الدواء المعروض
    </div>
    <div class="container">

        <div class="p-3">
            <form class="form-inline d-flex justify-content-right md-form form-sm mt-0 mb-3" action="{% url 'search' %}" method="GET">
                <input class="form-control form-control-sm ml-1 w-50 search-bar" type="text" placeholder="أدخل إسم الدواء" aria-label="Search" name="search">
                <button class="btn btn-primary mt-3" style="height: 31px;" type="submit"><i class="fas fa-search"
                        aria-hidden="true"></i></button>
            </form>
            <div class="medicine-list">
                {% for storage in medicineList%}
                <div class="provider-medicine col-md-12">
                    <div class="m-2">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="image">
                                    <img src="{{storage.medicine.img.url}}" alt="لا تتوفر صورة للدواء" height="200" width="200">
                                </div>
                            </div>
                            <div class="col-md-9 text-right">
                                <h4>{{storage.medicine.generalName}}</h4>
                                <h5>{{storage.medicine.scientificName}}</h5>
                                {% if storage.username.user_info.accType == 'ph' %} {% if 'صيدلية' in storage.username.pharmacyacc.pharmacyName or 'صيدليه' in storage.username.pharmacyacc.pharmacyName %}
                                <h6><a href="{% url 'visitProfile' storage.username.id %}" style="color: #26317d">{{storage.username.pharmacyacc.pharmacyName}}</a>
                                </h6>
                                {% else %}
                                <h6><a href="{% url 'visitProfile' storage.username.id %}" style="color: #26317d">صيدلية
                                        {{storage.username.pharmacyacc.pharmacyName}}</a></h6>
                                {% endif%} {% elif storage.username.pharmacyAcc.accType == 'or' %}
                                <h6>
                                    <a href="{% url 'visitProfile' storage.username.id %}"><span
                                            style="color: #0f0f0fff;">مبادرة</span>
                                        {{storage.username.organizationacc.organizationName}}</a>
                                </h6>
                                {% else %}
                                <h6>
                                    <a href="{% url 'visitProfile' storage.username.id %}">{{storage.username.first_name|upper}}
                                        {{storage.username.last_name |upper}}</a>
                                </h6>
                                {% endif %}
                                <h6><span>أخر تحديث :</span> <span style="color:#0d0">
                                        {{storage.updateDate | naturalday}}</span></h6>
                                <h6><span>الموقع :</span><span> {% for loc in storage.username.location_set.all %}
                                    <i class="fas fa-map-marker-alt"></i>
                                        {{loc.city}},
                                        {{loc.location}} <br>{% endfor %}</span></h6> <a href="{% url 'productinfo' storage.id%}"><span class="btn btn-info"
                                        style="float:left;">تواصل مع الصيدلية</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}