{% extends 'index.html'%}
{% block content %}

        <section>
            <div class="container">
                <div class="col-md-12">
                    <div class="p-5">
                        <div class="profile col-md-12 text-center medicine-short-detail ml-auto mr-auto">
                            <form style=" text-align: center;" method="post" action="{% url 'editproductBackend' info.id %}">
                                {% csrf_token %}
                                <h1 class="h3 mb-3 font-weight-normal" style="margin-bottom: 55px !important;">
                                    تعديل السعر و حالة التوفر</h1>
                                <h6 style="text-align:right"><span>الدواء : </span>{{info.medicine}}</h6>
                                </input>
                                    <div class="cus">
                                    <select id="inputText" class="form-control col-md-3" placeholder="الحالة"
                                            required name="available">
                                        <option value="True">متوفر</option>
                                        <option value="False">غير متوفر</option>
                                    </select>
                                    </div>
                                <input type="number" id="number" class="form-control col-md-4"
                                    placeholder="السعر" required autofocus="" name="price">
                                {{msg}}
                                <div class="checkbox mb-3">
                                </div>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">تحديث</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}