{% extends 'index.html'%} {% block content %}

<section>
    <div class="container">
        <div class="col-md-12">
            <div class="p-5">
                <div class="row">
                    <div class="signin-signup col-md-5 text-center ml-auto mr-auto">
                        <div class="p-3">
                            <form class="form-signin" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{form}}

                                <div class="checkbox mb-3"></div>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">تسجيل</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

<script type="text/javascript">