<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <script data-ad-client="ca-pub-1818913905140371" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="موقع يساعد المرضى على الوصول الى معرفة أماكن توفر الأدوية بصورة أسرع من خلال البحث عن الدواء في محرك البحث الخاص بالموقع">
    <meta name="keywords" content="أدوية، البحث عن دواء، متوفر وين، أدوية السودان، السودان، دوائي، وين القى">
    <meta name="email" content="dwaiisudan@gmail.com">
    <title>Dwaii</title>
    <link rel="canonical" href="https://www.dwaiisudan.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'medicine/css/style.css'%}">
    <link rel="icon" href="{% static 'medicine/img/dwaiiIcon.jpeg' %}">
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Font Awesome -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.selectmen').select2();
        })
    </script>

</head>

<body>

    <section>
        <div class="container">
            <div class="col-md-12">
                <div class="p-5">
                    <div class="profile col-md-12 text-center medicine-short-detail ml-auto mr-auto">
                        <form style=" text-align: right;" method="post" action="" enctype="multipart/form-data">

                            <select name="" class="selectmen">
                                <option selected disabled="true">====== select medicine =========</option>
                                <option value="">frsgfa</option>
                                <option value="">fwaea</option>
                                <option value="">feaWds</option>
                                <option value="">ewfasedf</option>
                                <option value="">afsasf</option>
                                <option value="">sgdxsa</option>
                                <option value="">fafda</option>
                                <option value="">regs</option>
                                <option value="">sgfas</option>
                                <option value="">fewdssa</option>
                            </select>
                            {{msg}}
                            <div class="checkbox mb-3">
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">إضافة</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>