{% extends 'index.html'%}
{% block content %}

<section>
            <div class="container">
                <div class="col-md-12">
                    <div class="p-5">
                        <div class="row">
                            <div class="signin-signup col-md-5 text-center ml-auto mr-auto">
                                <div class="p-3">
                                    <form class="form-signin" method="post" action="{% url 'inforegisterbackend' %}">
                                        {% csrf_token %}
                                        <h1 class="h3 mb-3 font-weight-normal" style="margin-bottom: 55px !important;">
                                            تسجيل معلومات الصيدلية</h1>
                                        <input type="text" id="inputText" class="form-control"
                                            placeholder="إسم الصيدلية"  name="pharmacyName" required>
                                        <input type="text" id="inputText" class="form-control"
                                            placeholder="المدينة"  name="city" required>
                                        <input type="text" id="inputText" class="form-control"
                                            placeholder="الموقع"  name="location" required>
                                        <input type="number" class="form-control"
                                            placeholder="رقم الجوال" name="phoneNumber" required>
                                        <input type="url" class="form-control"
                                            placeholder="رابط صفحة الفيس بوك" name="facebookpage" value="">
                                        {{msg}}
                                        <div class="checkbox mb-3">
                                        </div>
                                        <button class="btn btn-lg btn-primary btn-block" type="submit">تسجيل</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}