{% extends 'index.html'%}
{% block content %}

<section>
    <div class="container">
        <div class="col-md-12">
            <div class="p-5">
                <div class="row">
                    <div class="signin-signup col-md-5 text-center medicine-short-detail m-auto"
                        style="margin-bottom: 10px!important">
                        <div class="p-3">
                            <form class="form-signin" method="post">
                                {% csrf_token %}
                                
                                <h1 class="h3 mb-3 font-weight-normal" style="margin-bottom: 55px !important;">
                                    إسترداد كلمة المرور</h1>
                                    <h6>رجاءً أدخل كلمة مرورك الجديدة مرتين كي تتأكّد من كتابتها بشكل صحيح.</h6>
                                <input type="password" name="new_password1" id="id_new_password1" class="form-control"
                                    placeholder="كلمة المرور الجديدة" required>
                                <input type="password" name="new_password2" id="id_new_password2" class="form-control"
                                    placeholder="تأكيد كلمة المرور" required>

                                <div class="checkbox mb-3">
                                </div>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">تغيير</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}