
{% extends 'index.html'%}
{% block content %}

<section>
    <div class="container">
        <div class="col-md-12">
            <div class="p-5">
                <div class="row">
                    <div class="profile col-md-12 text-center medicine-short-detail m-auto"
                        style="margin-bottom: 10px!important">
                        <h3>لقد تم إرسال رسالة إستعادة كلمة المرور</h3>
                        <h6>الرجاء التحقق من البريد الإلكتروني و إتباع التعليمات المذكورة لإستعادة كلمة المرور للحساب الخاص بك</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}