
{% extends 'index.html'%}
{% block content %}

<section>
    <div class="container">
        <div class="col-md-12">
            <div class="p-5">
                <div class="row">
                    <div class="profile col-md-12 text-center medicine-short-detail m-auto"
                        style="margin-bottom: 10px!important">
                        <h3>لقد تمت إعادة تعيين كلمة المرور الخاصة بك</h3>
                        <h6>تمت أعادة تعيين كلمة المرور الخاصة بحسابك ، <a href="{% url 'sign' %}" style="color: #007bff;">تسجيل الدخول</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}