{% extends 'index.html'%} {% load static %} {% block content %}

<section class="">
    <div class="container">
        <div class="col-md-12">
            <div class="p-5">
                <div class="profile col-md-12 text-right medicine-short-detail ml-auto mr-auto pr-5 pl-5 pt-4 pb-3">

                    <h4 class="text-center">
                        سياسات الخصوصية
                        <br>
                        9 سبتمبر 2020
                    </h4>

                    <div class="intro">
                        <h5 class="mt-3">مقدمة</h5>
                        <p>نحن Dwaiisudan ندير موقع com.dwaiisudan://https"( الخدمة") <br>
                            "أنا"، "لنا"، أو "نحن" تشير إلى Dwaiisudan. </p>
                        <p>أنت"، أو "المستخدم" تشير إلى الشخص (الأشخاص) الذي يستخدم خدمات" dwaiisudan</p>
                        <p>تُعلمك هذه الصفحة بسياساتنا المتعلقة بجمع البيانات الشخصية واستخدامها والكشف عنها عند إستخدام خدمتنا و الخيارات التي قمت بربطها بهذه البيانات .</p>
                        <p>نستخدم بياناتك لتوفير الخدمة وتحسينها. وباستخدام الخدمة ، فإنك توافق على جمع واستخدام المعلومات وفقا لهذه السياسة. <br> نقوم بجمع أنواع مختلفة من المعلومات لأغراض مختلفة لتوفير وتحسين خدماتنا لك.
                        <br>
                        بناء على نوع البيانات التي سيتم معالجتها، سنقوم بمعالجة بياناتك الشخصية على أحد الأسس التالية:</p>
                        <ol>
                            <li>
                                <span style="font-weight: 700; font-size: 18px;">موافقتك المسبقة:</span>
                                <span> على سبيل المثال، عندما نعرض عليك التسجيل في خدماتنا وإنشاء حساب
                                الك، أو الاشتراك في رسائلنا الإخبارية أو رسائل البريد الإلكتروني التسويقية أو عندما نطلب منك اتباع أي إجراء ذو صلة يتيح لك إما قبول أو رفض معالجة البيانات المتوخاة بوضوح؛ في حال قبولك، يحق لك سحب موافقتك في أي وقت. ومع ذلك، وفي بعض الحالات، إن اختيارك لعدم الإفصاح عن بياناتك الشخصية أو سحب موافقتك قد يؤدي إلى الحد من إستخدامك لخدماتنا أو ميزاتنا أو عروضنا. على سبيل المثال، قد لا يكون بإمكانك الولوج إلى أجزاء معينة على مواقعنا الإلكترونية والرد على استفساراتك دون تقديم المعلومات ذات الصلة.
                                 </span>
                            </li>

                            <li class="mt-3">
                                <span style="font-weight: 700; font-size: 18px;">علاقة تعاقدية: </span>
                                <span>
                                    في مثل هذه الحالة، إن معالجة بياناتك الشخصية ضروري بشكل عام لتنفيذ أو إنجاز العقد؛ مما يعني أنه في حال عدم رغبتك بقيامنا بمعالجة بياناتك الشخصية في هذا السياق، قد نرفض الدخول في مثل هذا العقد معك.
                                </span>
                            </li>

                            <li class="mt-3">
                                <span style="font-weight: 700; font-size: 18px;">مصلحة مشروعة: </span>
                                <span>
                                    بمعنی قانون حماية البيانات: على سبيل المثال عند تطبيق المراقبة أو أجهزة التعقب التي تشير إلى معالجة البيانات الشخصية للكشف عن عمليات الاحتيال والتطفل عبر الإنترنت ومنعها. مثلا عندما تقوم بالوصول إلى وزيارة مواقعنا الإلكترونية، حتی بدون إنشاء حساب، والاستفادة من الخدمات التي يقدمها الموقع، فإنك تقر بأننا قد نقوم بتنفيذ معالجة شرعية للبيانات كما هو موضح في سياسة الخصوصية هذه. إن كنت لا توافق على هذه السياسة فقد ترغب في التوقف عن مشاهدة / استخدام مواقعنا الإلكترونية. للأغراض الموضحة أعلاه، ستمنح إمكانية الوصول إلى بياناتك الشخصية لموظفي dwaiisudan المرخصين وأعضاء الموقع الذين يحتاجون إلى معرفة تلك المعلومات من أجل معالجتها لمصلحة الطرفين.
                                </span>
                            </li>


                        </ol>
                    </div>
                    <div class="typeOfdataCollected mt-3">
                        <h4>أنواع البيانات المجمعة بيانات شخصية</h4>
                        <p>أثناء استخدام خدمتنا ، قد نطلب منك تزويدنا بمعلومات تعريف شخصية معينة يمكن استخدامها للاتصال بك أو التعرف عليك ("البيانات الشخصية"). قد تتضمن معلومات التعريف الشخصية ، على سبيل المثال لا الحصر:</p>
                        <ul>
                            <li>الاسم والمسمى الوظيفي</li>
                            <li>عنوان البريد الالكتروني</li>
                            <li>اسم الصيدلية ورخصتها</li>
                            <li>رقم الهاتف</li>
                            <li>معرف المتصفح</li>
                            <li>ملفات تعريف الارتباط وبيانات الاستخدام</li>
                        </ul>
                        <h5>بيانات الإستخدام</h5>
                        <p>قد نقوم أيضا بجمع معلومات حول كيفية الوصول إلى الخدمة واستخدامها ("بيانات الاستخدام"). قد تتضمن بيانات الاستخدام هذه معلومات مثل عنوان بروتوكول الإنترنت لجهاز الكمبيوتر الخاص بك ( مثل عنوان الIP)، ونوع المتصفح ، وإصدار المتصفح ، وصفحات الخدمة التي تزورها ، ووقت وتاريخ زيارتك ، والوقت الذي تقضيه على تلك الصفحات.</p>
                        <h5>ملفات تعريف الارتباط والتتبع (Cookies)</h5>
                        <p>ملفات تعريف الارتباط هي ملفات تحتوي على كمية صغيرة من البيانات التي قد تتضمن معرفا فريدا مجهول الهوية. يتم إرسال ملفات تعريف الارتباط إلى متصفحك من موقع ويب وتخزينها على جهازك.
                            <br>
                        تقنيات التتبع المستخدمة أيضا هي إشارات وعلامات ونصوص لجمع المعلومات وتتبعها و لتحسين خدمتنا وتحليلها.
                        </p>
                        <p>
                            يمكنك توجيه المتصفح الخاص بك لرفض جميع ملفات تعريف الارتباط أو للإشارة إلى وقت إرسال ملف تعريف الارتباط. ومع ذلك ، إذا كنت لا تقبل ملفات تعريف الارتباط ، فقد لا تتمكن من استخدام بعض أجزاء من خدمتنا.
                        </p>

                        <h5>استخدام البيانات</h5>
                        <p>يستخدم DwaiiSudan البيانات التي تم جمعها لأغراض مختلفة (على سبيل المثال لا الحصر):</p>
                        <ol>
                            <li>لتسهيل عملية البحث عن الأدوية</li>
                            <li>لتوجيه المرضى بأماكن توفر الدواء في الصيدلية المحددة.</li>
                            <li>التطوير وصيانة الخدمة</li>
                            <li>لإعلامك عن تغییرات لخدمتنا</li>
                            <li>السماح لك بالمشاركة في الميزات التفاعلية لخدمتنا عندما تختار القيام بذلك</li>
                            <li>لتقديم خدمة العملاء والدعم والتواصل</li>
                            <li>لمراقبة استخدام الخدمة</li>
                            <li>للكشف عن المشكلات الفنية ومنعها ومعالجتها</li>
                        </ol>

                        <h5>نقل البيانات</h5>
                        <p>
                        إذا كنت متواجدا خارج السودان واخترت تقديم معلومات إلينا ، فيرجى ملاحظة أننا نقوم بنقل البيانات ، بما في ذلك البيانات الشخصية ، إلى السودان ومعالجتها هناك. 
                        <br>
                        موافقتك على سياسة الخصوصية هذه متبوعة بتقديمك لهذه المعلومات تمثل موافقتك على هذا النقل.
                        </p>
                        <p>ستتخذ Dwaiisudan جميع الخطوات اللازمة بشكل معقول لضمان التعامل مع بياناتك بشكل آمن ووفقا لسياسة الخصوصية هذه ولن يتم نقل بياناتك الشخصية إلى منظمة أو دولة ما لم تكن هناك ضوابط کافية في مكانها بما في ذلك أمنك البيانات والمعلومات الشخصية الأخرى.</p>
                    </div>

                    <div class="data">
                        <h4>إفشاء البيانات</h4>
                        <h5>المتطلبات القانونية</h5>
                        <p>قد تكشف Dwaiisudan عن بياناتك الشخصية بحسن نية بأن هذا الإجراء ضروري من أجل: </p>
                        <p style="margin-top: 10px;"></p>
                        <ul>
                            <li>للامتثال لالتزام قانوني </li>
                            <li>الحماية والدفاع عن حقوق أو ممتلكات dwaiisudan</li>
                            <li>المنع أو التحقيق في أي مخالفات محتملة تتعلق بالخدمة</li>
                            <li>الحماية السلامة الشخصية لمستخدمي الخدمة أو الجمهور</li>
                            <li>للحماية من المسؤولية القانونية</li>
                        </ul>

                        <h4>أمن البيانات</h4>
                        <p>نحن نتبع إجراءات أمنية مادية والإلكترونية وتقنية وتدابير أمنية وتنظيمية مناسبة، بما في ذلك نماذج الحوكمة لحماية بياناتك الشخصية وفقا لقانون حماية البيانات من الوصول غير المصرح به إلى البيانات الشخصية أو استخدامها أو تغييرها أو الإفصاح عنها أو إتلافها ويعد أمان بیاناتك أمرا في غاية الأهمية بالنسبة لنا ، ولكن تذكر أنه لا توجد وسيلة نقل عبر الإنترنت أو طريقة تخزين إلكتروني آمنة بنسبة 100 ٪. بينما نسعي جاهدين لاستخدام وسائل مقبولة تجاريا لحماية بياناتك الشخصية ، لا يمكننا ضمان أمنها المطلق.
                        </p>
                        <h4>مقدمي الخدمة</h4>
                        <p>يجوز لنا توظيف شركات وأفراد من أطراف ثالثة لتسهيل خدمتنا ("مزودي الخدمة") ، أو لتقديم الخدمة نيابة عنا ، أو لأداء الخدمات المتعلقة بالموقع أو لمساعدتنا في تحليل كيفية استخدام خدمتنا هذه الأطراف الثالثة لها حق الوصول إلى بياناتك الشخصية فقط لأداء هذه المهام نيابة عنا وهي ملزمة بعدم الكشف عنها أو استخدامها لأي غرض آخر.
                        </p>
                        <h4>روابط لمواقع أخرى</h4>
                        <p>قد تحتوي خدمتنا على روابط لمواقع أخرى لا نقوم بتشغيلها. إذا قمت بالنقر فوق ارتباط جهة خارجية ، فسيتم توجيهك إلى موقع الطرف الثالث. ننصحك بشدة بمراجعة سياسة الخصوصية لكل موقع تزوره.</p>
                        <p>ليس لدينا أي تحكم ولا نتحمل أي مسؤولية عن المحتوى أو سياسات الخصوصية أو ممارسات أي مواقع أو خدمات تابعة لجهات خارجية.</p>
                        <h4>التغييرات على سياسة الخصوصية هذه</h4>
                        <p>قد نقوم بتحديث سياسة الخصوصية الخاصة بنا من وقت لآخر. سنخطرك بأي تغييرات عن طريق نشر سياسة الخصوصية الجديدة على هذه الصفحة. سنخبرك عبر البريد الإلكتروني و / أو إشعارا بارزا على خدمتنا ، قبل أن يصبح التغيير ساريا وتحديث "تاريخ السريان" في الجزء العلوي من سياسة الخصوصية هذه. ينصح بمراجعة سياسة الخصوصية هذه بشكل دوري لمعرفة أي تغييرات. تسري التغييرات التي تطرأ على سياسة الخصوصية هذه عند نشرها على هذه الصفحة.
                        </p>
                        <h5 class="mt-3">تواصل معنا</h5>
                        <a href="{% url 'contact' %}" style="color: #2655fe;">https://www.dwaiisudan.com/contact</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %} {% block javaScript %}

<script>
    document.forms[0].label[0].innerHtml = 'إسم الدواء'
</script>

{% endblock %}