{% extends 'index.html'%} {% load static%} {% load humanize %} {% block content %}

<section>
    <div class="container">
        <div class="col-md-12">
            <div class="pt-5">
                <div class="productinfo col-md-12 text-center ml-auto mr-auto">
                    <div class="m-2">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="image">
                                    <img src="{{medicine.medicine.img.url}}" alt="noooo" height="200" width="200">
                                </div>
                            </div>
                            <div class="col-md text-right detail  mb-auto mt-auto">
                                <h2 class="mb-2" style="text-transform: capitalize;">{{medicine.medicine.generalName}}
                                </h2>
                                <h3 style="text-transform: capitalize;">{{medicine.medicine.scientificName}}</h3>
                                <a href="{% url 'visitProfile' medicine.username.id %}">
                                    {% if info.accType == 'ph' %}
                                    {% if 'صيدلية' in info.username.pharmacyacc.pharmacyName or 'صيدليه' in info.username.pharmacyacc.pharmacyName %}
                                    <h6>{{info.username.pharmacyacc.pharmacyName}}</h6>
                                    {% else %}
                                    <h6><span>صيدلية : </span>{{info.username.pharmacyacc.pharmacyName}}</h6>
                                    {% endif%} {% elif info.accType == 'or' %}
                                    <h6><span>مبادرة : </span>{{info.username.organizationacc.organizationName}}</h6>
                                    {% else %}
                                    <h6>{{info.username.first_name}} {{info.username.last_name}}</h6>
                                 {% endif %}</a>
                                <h6><span>أخر تحديث </span><span>:
                                        {{medicine.updateDate | naturalday}}</span></h6>
                                <h6><span>السعر : </span>{{medicine.price}} <span> جنيه </span></h6>
                                {% if medicine.is_Available %}
                                <h6><span style="color: #29BF12;">الدواء متوفر</span></h6>
                                {% elif not medicine.is_Available %}
                                <h6><span style="color: #BF211E;">نفذت الكمية</span></h6>
                                {% endif %}
                                <h6><span>الموقع : </span><span>{% for info in location %}{{info.city}},
                                        {{info.location}} <br> {% endfor %}</span></h6>
                                <h6>وسائل التواصل</h6>
                                <ul class="unorder-list" style="margin-top: auto;">
                                    {% if info.username.pharmacyacc.phone_number != null%}
                                    <li><a href="tel:{{info.username.pharmacyacc.phone_number}}" style="color:black"><i
                                                style="font-size:34px" class="fa">&#xf095;</i> {{info.phone_number}}</a></li>
                                    {% endif %} {% if info.username.pharmacyacc.whatsappNumber != null%}
                                    <li><a href="https://wa.me/{{info.username.pharmacyacc.whatsappNumber}}" style="color:#006400; margin: 0 10px;"><i style="font-size:34px"
                                                class="fa">&#xf232;</i></a></li>
                                    {% endif %} {% if info.username.pharmacyacc.facebookPage != null%}
                                    <li><a href="{{info.username.pharmacyacc.facebookPage}}" style="color:#26e; "><i style="font-size:34px"
                                                class="fa">&#xf082;</i></a></li>
                                    {% endif %}

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                <div class="productinfo col-md-12 text-center ml-auto mr-auto">
                    <div class="m-2">
                        <h4>أدوية ذات صلة</h4>
                        <div class="row">
                            {% for relatedMed in relatedMeds%}
                            <div class="col-md text-center detail" style="border: 1px solid #000000; margin: 10px;">
                                <div class="image">
                                    <img src="{{u.medicine.img.url}}" alt="noooo" height="200" width="200">
                                </div>
                                <h4>{{u.medicine.generalName}}</h4>
                                <h6><span>السعر : </span>{{u.price}} <span> جنيه </span></h6>
                                <h6>طرق التواصل</h6>
                                <ul class="unorder-list">
                                    <li><a href="" style="color:black"><i style="font-size:34px"
                                                class="fa">&#xf095;</i></a></li>
                                    <li><a href="" style="color:darkgreen; margin: 0 10px;"><i style="font-size:34px"
                                                class="fa">&#xf232;</i></a></li>
                                    <li><a href=""><i style="font-size:34px" class="fa">&#xf230;</i></a></li>
                                </ul>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
</section>

{% endblock %}