{% extends 'index.html'%} {% load static %} {% block content %} {% load humanize %}
<section>
    <div class="container">
        <div class="col-md-12">
            <div class="pt-5">
                <div class="profile col-md-12 text-center medicine-short-detail ml-auto mr-auto">
                    <div class="p-3">
                        <div class="row">
                            <div class="col-md text-right pt-4 ml-auto mr-auto">

                                {% if user.username.user_info.accType == 'ph' %} {% if 'صيدلية' in user.pharmacyName or 'صيدليه' in user.pharmacyName %}
                                <h4>{{user.pharmacyName}}</h4>
                                {% else %}
                                <h4>صيدلية {{user.pharmacyName}}</h4>
                                {% endif%} {% elif user.username.user_info.accType == 'or' %}
                                <h4>
                                    <span style="color: #0f0f0fff;">مبادرة</span> {{user.organizationName}}
                                </h4>
                                {% else %}
                                <h4>
                                    {{user.username.first_name|upper}} {{user.username.last_name |upper}}
                                </h4>
                                {% endif %}
                                <h6 class="mt-3">
                                    <SPan>الموقع :</SPan>
                                    {% for loc in user.username.location_set.all %}
                                    <i class="fas fa-map-marker-alt"></i> {% if user.username.user_info.accType == 'ph' %}الفرع</span>{{ forloop.counter }}
                                    <span>:</span>  {% endif %} {{loc.city}}, {{loc.location}} <br />{% endfor %}
                                </h6>
                                <h6><span>طرق التواصل</span></h6>
                                {{ section.title }}
                                <div class="socialMedia text-center">
                                    <ul class="unorder-list">
                                        {% if user.phone_number != null%}
                                        <li>
                                            <a href="tel:{{user.phone_number}}" style="color: black;"><i
                                                    style="font-size: 34px;" class="fa">&#xf095;</i>{{user.phone_number}}</a>
                                        </li>
                                        {% endif %} {% if user.whatsappNumber != null%}
                                        <li>
                                            <a href="https://wa.me/{{user.whatsappNumber}}" style="color: darkgreen; margin: 0 10px;"><i style="font-size: 34px;"
                                                    class="fa">&#xf232;</i></a>
                                        </li>
                                        {% endif %} {% if user.facebookPage != null%}
                                        <li>
                                            <a href="{{user.facebookPage}}" style="color: #26e;"><i
                                                    style="font-size: 34px;" class="fa">&#xf082;</i></a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if user.username.user_info.accType != 'no' %}

            <div class="pt-4">
                <div class="listofstorage text-center medicine-short-detail ml-auto mr-auto">
                    <h3 class="pt-3 pb-3">
                        الآدوية المتوفرة {% if user.username.user_info.accType == 'ph' %} في الصيدلية {% elif user.username.user_info.accType == 'or' %} في المبادرة {% endif %}
                    </h3>
                    <div class="container">
                        <div class="row">

                            {% for storage in medicine %}

                            <div class="col-md-3" style="border: 1px solid #ddd;">
                                <div class="m-2">
                                    <div class="container">
                                        <div class="row">
                                            <div class="image">
                                                <img src="{{storage.medicine.img.url}}" alt="لا تتوفر صورة للدواء" width="200" />
                                            </div>
                                            <div class="col-md-9 text-right">
                                                <h4>{{storage.medicine.generalName}}</h4>
                                                <h5>{{storage.medicine.scientificName}}</h5>
                                                <h6>
                                                    <span>أخر تحديث :</span>
                                                    <span style="color: #0d0;">
                            {{storage.updateDate | naturalday}}</span>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% else%}
            <div class="pt-4">
                <div class="listofstorage text-center medicine-short-detail ml-auto mr-auto">
                    <h3 class="pt-3 pb-3">
                        <span>قائمة الأدوية المطلوبة</span>
                    </h3>
                    <div class="container">
                        <div class="row">

                            {% for storage in user.username.requestmedi_set.all %}

                            <div class="col-md-3" style="border: 1px solid #ddd;">
                                <div class="m-2">
                                    <div class="container">
                                        <div class="row">
                                            <div class="image">
                                                <img src="{{storage.img.url}}" alt="لا تتوفر صورة للدواء" width="200" />
                                            </div>
                                            <div class="col-md-9 text-right">
                                                <h4>{{storage.medicineGeneral}}</h4>
                                                <h6>
                                                    <span>تاريخ الطلب:</span><br>
                                                    <span style="color: #0d0;">
                    {{storage.requestDate | naturalday}}</span>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div> {% endif %}
        </div>
    </div>
</section>

{% endblock %} {% block javaScript %} {% endblock %}