{% extends 'index.html'%}
{% load static%}
{% load humanize %}
{% block content %}

<section>

    <div class="container">
        <div class="p-3">
            <form class="form-inline d-flex justify-content-right md-form form-sm mt-0 mb-3"
                        action="{% url 'search' %}" method="GET">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-50 search-bar" type="text"
                               placeholder="أدخل إسم الدواء" aria-label="Search" name="search">
                <input class="btn btn-primary" type="submit" value="بحث" style="margin-top: 15px;">

            </form>
            <div class="medicine-list">
                <h4>{{msg}}</h4>
                {% for u in s%}
                <div class="provider-medicine col-md-12">
                    <div class="m-2">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="image">
                                    <img src="{{u.medicine.img.url}}" alt="لا تتوفر صورة للدواء" height="200"
                                        width="200">
                                </div>
                            </div>
                            <div class="col-md-9 text-right">
                                <h4>{{u.medicine.generalName}}</h4>
                                <h6>{{u.medicine.scientificName}}</h6>
                                <h6><span>{{u.username.user_info.pharmacyName}}</span></h6>
                                <h6><span>التركيز :</span>{{u.dose}}</h6>
                                <h6><span style="color:#0d0">{{u.updateDate | naturalday}}</span></h6>
                                <h6><span>السعر : </span>{{u.price}} <span> جنيه </span></h6>
                                <h6><span>الموقع :</span><span>{{u.username.user_info.city}}, {{u.username.user_info.location}}</span></h6>

                                <a href="{% url 'productinfo' u.id%}"><span class="btn btn-info" style="float:left;">تواصل مع الصيدلية</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}



<form action="" method="get">
    <input type="text" name="text">
    <input type="submit">
</form>