{% extends 'index.html'%}
{% block content %}

<section>
            <div class="container">
                <div class="col-md-12">
                    <div class="p-5">
                        <div class="row">
                            <div class="signin-signup col-md-5 text-right medicine-short-detail m-auto">
                                <div class="p-3">
                                    <form class="form-signin" action="" method="post">
                                        {% csrf_token %}
                                        <h1 class="h3 mb-3 font-weight-normal" style="margin-bottom: 20px !important;">
                                            تسجيل دخول</h1>
                                        {{form.username}}
                                        {{form.username.errors }}
                                        {{form.password}}
                                        {{form.password.errors }}
                                        {{msg1}}
                                        <p><a href="{% url 'reset_password' %}" style="color:#260ffd;">هل نسيت كلمة السر ؟ </a></p>
                                        <p>ليس لديك حساب : <a href="{% url 'signup' %}" style="color:#260ffd;">تسجيل حساب جديد</a></p>
                                        
                                        <div class="checkbox mb-3"></div>
                                        <button class="btn btn-lg btn-primary btn-block" type="submit">دخول</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
